.logo{
	margin: 5%;
	max-width: 200px;
}

li{
	display: inline-block;
	font-size: 20px;
	margin: 5%;
}
.caja{
	border-radius: 20px;
	background-color:#A0A0A0;


}
.gris{
	padding-top: 5%;
	background-color: #888888;
	background-size: 100%;
	padding-bottom: 5%;
	

	
}
.titulo{
	color: #F8F8F8;
	font-size: 50px;
	margin-left: 20px;
	margin-right: 20px;
}
.parrafo{
	color:#FFFFFF ;
	margin-bottom: 5%;
}
.blanquito{
	color: #F8F8F8;
	text-align: center;

}
.concaja{
	max-width: 90%;
	padding-bottom: 5%;
}











}
@media screen and (max-width:1000px){
		section{
			background-color:#888888;
			height: 200%;
}
}
